<h1>Tela de Cadastro de Usuários</h1>

<form action="/usuario/save" method="post">
    <label>Nome: </label>
    <input type="text" name="nome" id=""/>
    <br>
    <label>Endereço: </label>
    <input type="text" name="endereco" id=""/>
    <br>
    <label>E-mail: </label>
    <input type="text" name="email" id=""/>
    <br>
    <label>Data Nascimento: </label>
    <input type="date" name="dataNascimento" id=""/>
    <br>
    <input type="submit" value="cadastrar">
</form>
<hr>
<h1>Lista de usuários</h1>
<hr>
<div class="table-responsive">
<table class="table table-striped table-sm">  
    <thead>
        <tr>
            <th scope="col">id Usuário</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">E-mail</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
    {{#each cadastros}}
    
        <tr>
            <td>{{this.id_usuario}}</td>
            <td>{{this.nome_usuario}}</td>
            <td>{{this.endereco_usuario}}</td>
            <td>{{this.email_usuario}}</td>
            <td>{{this.data_nascimento_usuario}}</td>
            
        </tr>
    
    {{/each}}
    </tbody>

</table>
</div>